<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artistdetails</title>
</head>
<body>
    <div th:insert="fragments/header :: header">Header</div>
    <div class="row1content" th:if="${artist}">
        <h2 th:text="${artist.artistName}">artistdetails</h2>

        <div class="artistinfo"></div>
        <div class = "row2">
            <div class = "info">
                <p class = "links">info: <a class="rechts" th:href = "@{|http://www.facebook.com/${artist.artistName}|}" th:text="|http://www.facebook.com/${artist.artistName}|"></a></p>
            </div>
            <div class = "genre">
                <p class = "links">capaciteit:<p class="rechts" th:text="${artist.genre}">genre</p>
            </div>
            <div class = "bio">
                <p class = "links">bio: <p class="rechts" th:text="${artist.bio}">bio</p>
            </div>
            <div class = "portfolio">
                <p class = "links">portfolio: <p class="rechts" th:text="${artist.portfolio}">portfolio</p>
            </div>
        </div>
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/artistdetails/${nextArtist}|}">&gt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/artistdetails/${prevArtist}|}"><</a>
        </div>
    </div>
    <div class="row1content" th:unless="${artist}">
        <p>no venue was chosen</p>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>