<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Let's Party!</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${venue}">
        <h2 th:text="${venue.getVenueName()}">venuedetails</h2>

        <div class="venueinfo"></div>
            <div class = "row2">
                <div class = "info">
                    <p class = "links">info: <a class="rechts" th:href = "@{|http://www.facebook.com/${venue.getVenueName()}|}" th:text="|http://www.facebook.com/${venue.getVenueName()}|"></a></p>
                </div>
                <div class = "capaciteit">
                    <p class = "links">capaciteit:<p class="rechts" th:text="${venue.getCapaciteit()}">capaciteit</p>
                </div>
                <div class = "kostprijsPerAvond">
                    <p class = "links">kostprijs per avond: <p class="rechts" th:text="${venue.getKostprijsPA()}">kostprijs</p>
                </div>
                <div class = "oppervlakteInVierkanteMeter">
                    <p class = "links">oppervlakte: <p class="rechts" th:text="${venue.getOppervlakteinMM()} + mm2">oppervlakte</p>
                </div>
            </div>
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${prevId}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${nextId}|}">&gt;</a>
        </div>
    </div>
    <div class="row1content" th:unless="${venue}">
        <p>no venue was chosen</p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>